<p id="notice"><%= notice %></p>
<p align="center"><%= image_tag("logo.jpg",{:class=>"logo"}) %></p>

<table align="center" class="table table-borderless table-info todo" >
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @todo_lists.each do |todo_list| %>
      <tr>
        <td><%= todo_list.title %></td>
        <td><%= todo_list.description %></td>
        <td><%= link_to '', todo_list,({:class=>"fa fa-low-vision",:style =>"font-size:20px"})%>
        <%= link_to '', edit_todo_list_path(todo_list),({:class=>" fa fa-edit margin",:style =>"font-size:20px"}) %>
        <%= link_to '', todo_list,({:class=>"fa fa-trash-o margin",:style =>"font-size:20px", method: :delete, data: { confirm: 'Are you sure?' }})%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="row">
<div class="col-5"></div>

<div><%=  link_to 'New Todo list', new_todo_list_path,({:class=>"btn btn-light"}) %></div>
</div>